<!DOCTYPE html>
<html>
<head>
	<title>Title</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body class='container'>

<h3>this is the layout</h3>

<div class='panel panel-default'>
	{{{content}}}
</div>

</body>
</html>